<template>
    <sui-container text>
        <sui-header as="h2">Create Team</sui-header>
        <sui-form>
            <sui-form-field :error="!!nameError">
                <sui-input
                    placeholder="Name"
                    v-model="name"
                    fluid
                ></sui-input>
            </sui-form-field>
            <sui-button @click.prevent="createTeam">Create Team</sui-button>
        </sui-form>
        <sui-message v-if="errors.length > 0" header="Errors" :list="errors" />
    </sui-container>
</template>

<script>
import gql from "graphql-tag";

const CREATE_TEAM = gql`
  mutation($name: String!) {
    createTeam(name: $name) {
      ok
      errors {
        path
        message
      }
    }
  }
`;

export default {
  data() {
    return {
      name: "",
      nameError: "",
      errors: []
    };
  },
  watch: {
    name() {
      this.nameError = "";
    }
  },
  methods: {
    async createTeam() {
      this.errors = [];
      let response;
      try {
        response = await this.$apollo.mutate({
          mutation: CREATE_TEAM,
          variables: {
            name: this.name
          }
        });
      } catch (error) {
        this.$router.push({
          path: "login",
          query: { redirect: "/create-team" }
        });
        return;
      }

      const { ok, errors } = response.data.createTeam;
      if (!ok) {
        errors.forEach(({ path, message }) => {
          this[`${path}Error`] = message;
          this.errors.push(message);
        });
      } else {
        this.$router.push("/");
      }
    }
  }
};
</script>
