<template>
    <div class="home">
        <h1 v-for="user in getAllUsers" :key="user.id">{{ user.email }} - {{ user.username }}</h1>
    </div>
</template>

<script>
// @ is an alias to /src
import gql from "graphql-tag";

const ALL_USERS_QUERY = gql`
  {
    getAllUsers {
      id
      email
      username
    }
  }
`;

export default {
  name: "home",
  data() {
    return {
      getAllUsers: []
    };
  },
  apollo: {
    getAllUsers: {
      query: ALL_USERS_QUERY
    }
  }
};
</script>
