<template>
    <sui-container text>
        <sui-header as="h2">Login</sui-header>
        <sui-form>
            <sui-form-field :error="!!emailError">
                <sui-input
                    type="email"
                    placeholder="Email"
                    v-model="email"
                    fluid
                ></sui-input>
            </sui-form-field>
            <sui-form-field :error="!!passwordError">
                <sui-input
                    type="password"
                    v-model="password"
                    placeholder="Password"
                    fluid
                ></sui-input>
            </sui-form-field>
            <sui-button @click.prevent="login">Submit</sui-button>
        </sui-form>
        <sui-message v-if="errors.length > 0" header="Problem registering" :list="errors" />
    </sui-container>
</template>

<script>
import gql from "graphql-tag";

const LOGIN_USER = gql`
  mutation($email: String!, $password: String!) {
    login(email: $email, password: $password) {
      ok
      token
      refreshToken
      errors {
        path
        message
      }
    }
  }
`;

export default {
  data() {
    return {
      email: "",
      emailError: "",
      password: "",
      passwordError: "",
      errors: []
    };
  },
  watch: {
    email() {
      this.emailError = "";
    },
    password() {
      this.passwordError = "";
    }
  },
  methods: {
    async login() {
      this.errors = [];

      let response = await this.$apollo.mutate({
        mutation: LOGIN_USER,
        variables: {
          email: this.email,
          password: this.password
        }
      });

      const { ok, token, refreshToken, errors } = response.data.login;

      if (!ok) {
        errors.forEach(({ path, message }) => {
          this[`${path}Error`] = message;
          this.errors.push(message);
        });
      } else {
        localStorage.setItem("token", token);
        localStorage.setItem("refreshToken", refreshToken);
        if (this.$route.query.redirect) {
          this.$router.push(this.$route.query.redirect);
        } else {
          this.$router.push("/");
        }
      }
    }
  }
};
</script>
