<template>
    <sui-container text>
        <sui-header as="h2">Register</sui-header>
        <sui-form>
            <sui-form-field :error="!!usernameError">
                <sui-input
                    placeholder="Username"
                    v-model="username"
                    fluid
                ></sui-input>
            </sui-form-field>
            <sui-form-field :error="!!emailError">
                <sui-input
                    type="email"
                    placeholder="Email"
                    v-model="email"
                    fluid
                ></sui-input>
            </sui-form-field>
            <sui-form-field :error="!!passwordError">
                <sui-input
                    type="password"
                    v-model="password"
                    placeholder="Password"
                    fluid
                ></sui-input>
            </sui-form-field>
            <sui-button @click.prevent="register">Submit</sui-button>
        </sui-form>
        <sui-message v-if="errors.length > 0" header="Problem registering" :list="errors" />
    </sui-container>
</template>

<script>
import gql from "graphql-tag";

const REGISTER_USER = gql`
  mutation($username: String!, $email: String!, $password: String!) {
    register(username: $username, email: $email, password: $password) {
      ok
      errors {
        path
        message
      }
    }
  }
`;

export default {
  data() {
    return {
      username: "",
      usernameError: "",
      email: "",
      emailError: "",
      password: "",
      passwordError: "",
      errors: []
    };
  },
  watch: {
    username() {
      this.usernameError = "";
    },
    email() {
      this.emailError = "";
    },
    password() {
      this.passwordError = "";
    }
  },
  methods: {
    async register() {
      this.errors = [];

      let response = await this.$apollo.mutate({
        mutation: REGISTER_USER,
        variables: {
          username: this.username,
          email: this.email,
          password: this.password
        }
      });

      const { ok, errors } = response.data.register;
      if (!ok) {
        errors.forEach(({ path, message }) => {
          this[`${path}Error`] = message;
          this.errors.push(message);
        });
      } else {
        this.$router.push("/");
      }
    }
  }
};
</script>
